/* colocando cor de fundo do cabeçalho */
header{
    background-color:#C5D3B2;
    font-family: poppins, sans-serif;
    color:#000000a4;
    width: 100%;
}
nav a{
    color:#3b6105c9;/* Cor do Menu de Navegação */
    text-decoration: none; /* remover o sublinhado dos links */
    margin:0 10px; /* espaçamento entre os links */
   
}
nav{   
    text-align: center; /* alinhamento do texto dos links */
    border-color: #FFFFFF ;/* cor da borda do menu de navegação */
    border-width: 1px; /* largura da borda do menu de navegação */
    border-style: solid; /* estilo da borda do menu de navegação */
    padding: 10px; /* espaçamento interno do menu de navegação */


} 

.logo img{
    width: 120px; /* largura da imagem do logo */
    height: 120px; /* altura da imagem do logo */
    
}
.logo{
    margin-left: 20px; /* espaçamento esquerdo da div do logo */
}
/* configurando a caixa de pesquisa */

.caixa-pesquisa input{
    padding: 10px;/* espaçamento interno da caixa de pesquisa */
    border: 1px solid #ccc;/* borda da caixa de pesquisa */
    border-radius: 5px 0 0 5px;/*arredondamento dos cantos da caixa de pesquisa */
    font-family: poppins, sans-serif;/* fonte da caixa de pesquisa */
    width: 300px; /* largura da caixa de pesquisa */
    height: auto; /* altura da caixa de pesquisa */
    color:#000000a4; /* cor do texto da caixa de pesquisa */
    padding-left: 30px; /* espaçamento interno da caixa de pesquisa para evitar sobreposição com o ícone de pesquisa */

}
/*configurando a div da pesquisa */
.caixa-pesquisa{
    display: flex; /* exibir os elementos da caixa de pesquisa em linha */
    justify-content: center; /* centralizar os elementos da caixa de pesquisa */
    margin-top: 10px; /* espaçamento superior da caixa de pesquisa */
    margin-bottom: 10px; /* espaçamento inferior da caixa de pesquisa */
    position: relative; /* posicionamento relativo para a caixa de pesquisa */
    padding-left: 10px; /* espaçamento interno da caixa de pesquisa para evitar sobreposição com o ícone de pesquisa */
}

/*alinhar as divs do cabeçalho */
.topo {
    display: flex; /* exibir os elementos do cabeçalho em linha */
    align-items: center; /* alinhar os elementos do cabeçalho verticalmente */
    justify-content: space-between; /* distribuir os elementos do cabeçalho com espaço entre eles */
   
}

/* configurando os icones*/
.caixa-pesquisa img{
    width: 15px; /* largura da imagem do ícone de pesquisa */
    height: 15px; /* altura da imagem do ícone de pesquisa */
    position: absolute; /* posicionamento absoluto para o ícone de pesquisa */
    left: 15px; /* distância do ícone de pesquisa em relação à borda esquerda da caixa de pesquisa */
    top: 50%; /* centralizar verticalmente o ícone de pesquisa */
    transform: translateY(-50%); /* ajustar a posição vertical do ícone de pesquisa
    color:#000000a4; /* cor do ícone de pesquisa */
}
.caixa-pesquisa placeholder{
    padding-left: 10px; /* espaçamento interno do texto da caixa de pesquisa para evitar sobreposição com o ícone de pesquisa */
}
.icones a img{
   height: 32px; /* altura dos ícones de usuário e carrinho */
   width: 32px; /* largura dos ícones de usuário e carrinho */
   margin-right: 20px; /* espaçamento entre os ícones de usuário e carrinho */
   grid-row:  1 / 3; /* ocupar as duas linhas da grade para os ícones de usuário e carrinho */
}
/* configurando o texto dos ícones */
.icones a small{
    font-size: 12px; /* tamanho da fonte do texto dos ícones */
    color:#000000a4; /* cor do texto dos ícones */
    display: block;
    grid-row: 2 / 3; /* ocupar a segunda linha da grade para o texto dos ícones */
    grid-column: 1 / 2; /* ocupar a primeira coluna da grade para o texto dos ícones */
    margin:0; /* espaçamento superior do texto dos ícones */
   
}
.icones a p{
    font-size: 14px; /* tamanho da fonte do texto dos ícones */
    color:#000000a4; /* cor do texto dos ícones */
    display: block; /* exibir o texto grande */
    grid-row: 2 / 3; /* ocupar a segunda linha da grade para o texto dos ícones */
    grid-column: 2 / 3; /* ocupar a segunda coluna da grade para o texto dos ícones */
    margin:0; /* espaçamento superior do texto dos ícones */
}
.icones a{
    text-decoration: none; /* remover o sublinhado dos links dos ícones */
    display: grid; /* exibir os elementos dos ícones em linha */
    grid-template-columns: 40px auto; /* definir a largura das colunas dos ícones */
    grid-template-rows: auto auto; /* definir a altura das linhas dos ícones */
    margin-right: 20px; /* espaçamento direito dos ícones */
}

/*configurando a div dos ícones */
.icones{
    display: flex; /* exibir os elementos da div dos ícones em linha */
    align-items: center; /* alinhar os elementos da div dos ícones verticalmente */
   gap: 10px; /* espaçamento entre os elementos da div dos ícones */
   margin-right: 20px; /* espaçamento direito da div dos ícones */
}
/* configurando a área do banner */
.imagens-banner img{
    max-width: 100%; /* largura máxima da área do banner */
    display: block; /* exibir as imagens do banner como blocos */
    width: 100%; /* largura da área do banner */
    height: auto; /* altura automática da área do banner */
    
}
.banner{
    width: 100vw; /* largura da área do banner */
    height: auto; /* altura automática da área do banner */
    margin: 0; /* espaçamento superior da área do banner */
    padding: 0; /* espaçamento inferior da área do banner */
   
    
}
.imagens-banner{
       width: 100%; /* largura da área do banner */
       margin-top: 0px; /* espaçamento superior da área do banner */

}

/*
.botoes-banner{
    position: absolute;
    top: 80%; /
    left: 50%; 

.btn-comprar, .btn-anterior, .btn-proximo{
   
    background-color: #cdf09d; 
    color: #000000a4;
    border-radius: 5px; 
    font-family: poppins, sans-serif;
    padding: 5px 10px; 
    
}
*/

/*configurar o botão de comprar quando o mouse estiver em cima sobre ele*/
.btn-comprar:hover, .btn-anterior:hover, .btn-proximo:hover{
    background-color: #b8e07c; /* cor de fundo dos botões do banner quando o mouse estiver em cima sobre eles */
    color: #000000a4; /* cor do texto dos botões do banner quando o mouse estiver em cima sobre eles */
    cursor: pointer; /* cursor de ponteiro para os botões do banner quando o mouse estiver em cima sobre eles */
}

.btn-anterior, .btn-proximo{
    background-color: #cdf09d; /* cor de fundo dos botões de anterior e próximo do banner */
    color: #000000a4; /* cor do texto dos botões de anterior e próximo do banner */
        border-radius: 10px; /* arredondamento dos cantos dos botões de anterior e próximo do banner */
    font-family: poppins, sans-serif; /* fonte dos botões de anterior e próximo do banner */
    border: none; /* remover a borda dos botões de anterior e próximo do banner */
}
.btn-anterior:hover, .btn-proximo:hover{
    background-color: #aef193c2; /* cor de fundo dos botões de anterior e próximo do banner quando o mouse estiver em cima sobre eles */
    color: #250dffa4; /* cor do texto dos botões de anterior e próximo do banner quando o mouse estiver em cima sobre eles */
    cursor: pointer; /* cursor de ponteiro para os botões de anterior e próximo do banner quando o mouse estiver em cima sobre eles */
}

.btn-comprar{
    background-color: #cdf09d; /* cor de fundo do botão de comprar do banner */
    color: #000000a4; /* cor do texto do botão de comprar do banner */
    border-radius: 10px; /* arredondamento dos cantos do botão de comprar do banner */
    font-family: poppins, sans-serif; /* fonte do botão de comprar do banner */
    border: none; /* remover a borda do botão de comprar do banner */
    top: 70%; /* distância do botão de comprar do banner em relação à parte superior da área do banner */
    left:40%; /* distância do botão de comprar do banner em relação à borda esquerda da área do banner */
    padding: 50px 20px; /* espaçamento interno do botão de comprar do banner */
    font-size: 18px; /* tamanho da fonte do botão de comprar do banner */
}
.btn-anterior{
    position: absolute; /* posicionamento absoluto para o botão de anterior do banner */
    top: 50%; /* distância do botão de anterior do banner em relação à parte superior da área do banner */
    left: 10px; /* distância do botão de anterior do banner em relação à borda esquerda da área do banner */
    padding: 10px 20px; /* espaçamento interno do botão de anterior do banner */
    font-size: 14px; /* tamanho da fonte do botão de anterior do banner */
    color: #000000a4;
    background-color:transparent; /* cor de fundo do botão de anterior do banner */
    border-radius: 10px; /* arredondamento dos cantos do botão de anterior do banner */
    border: none; /* remover a borda do botão de anterior do banner */

}
.btn-proximo{
    position: absolute; /* posicionamento absoluto para o botão de próximo do banner */
    top: 50%; /* distância do botão de próximo do banner em relação à parte superior da área do banner */
    left: 93%; /* distância do botão de próximo do banner em relação à borda direita da área do banner */
    padding: 10px 20px; /* espaçamento interno do botão de próximo do banner */
    font-size: 14px; /* tamanho da fonte do botão de próximo do banner */
    color: #000000a4;
    background-color: transparent; /* cor de fundo do botão de próximo do banner */
    border-radius: 10px; /* arredondamento dos cantos do botão de próximo do banner */
    border: none; /* remover a borda do botão de próximo do banner */

}

/* configurando a área de ofertas */
.ofertas{
   
    padding:20px; /* espaçamento interno da área de ofertas */
}

/*configurando os textos das ofertas */
.titulo-ofertas{
  display: grid; /* exibir o título da área de ofertas como um bloco */
    font-family: poppins, sans-serif; /* fonte do título da área de ofertas */
    grid-template-columns: 40px auto; /* definir a largura das colunas do título da área de ofertas */
    grid-template-rows: auto auto; /* definir a altura das linhas do título da área de ofertas */
}
.titulo-ofertas h2{
    font-size: 24px; /* tamanho da fonte do título da área de ofertas */
    color:#8bff5ea4; /* cor do texto do título da área de ofertas */
    grid-row: 1; /* ocupar a primeira linha da grade para o título da área de ofertas */
    grid-column: 1; /* ocupar as duas colunas da grade para o título da área de ofertas */
    margin:0; /* espaçamento superior do título da área de ofertas */
}
.titulo-ofertas p{
    color:#000000a4; /* cor do texto da descrição do título da área de ofertas */
    font-size: 14px; /* tamanho da fonte da descrição do título da área de ofertas */
    grid-row: 2; /* ocupar a segunda linha da grade para a descrição do título da área de ofertas */
    grid-column: 1; /* ocupar as duas colunas da grade para a descrição do título da área de ofertas */
}

.titulo-ofertas a{
    color:#000000a4; /* cor do link da descrição do título da área de ofertas */
    font-size: 14px; /* tamanho da fonte do link da descrição do título da área de ofertas */
    text-decoration: none; /* remover o sublinhado do link da descrição do título da área de ofertas */
    grid-row: 2; /* ocupar a segunda linha da grade para o link da descrição do título da área de ofertas */
    grid-column: 2; /* ocupar a segunda coluna da grade para o link da descrição do título da área de ofertas */
    align-self: center; /* alinhar o link da descrição do título da área de ofertas na parte inferior da grade */
    padding-left: 80%; /* espaçamento interno do link da descrição do título da área de ofertas para evitar sobreposição com o texto da descrição do título da área de ofertas */
}

.lista-produtos{
display:flex; /* exibir os produtos da área de ofertas em linha */
justify-content: space-between; /* distribuir os produtos da área de ofertas com espaço entre eles */
font-family: poppins, sans-serif; /* fonte dos produtos da área de ofertas */
margin-top: 20px; /* espaçamento superior dos produtos da área de ofertas */
}

.card-produtos{
    width: 23%; /* largura dos cards de produtos da área de ofertas */
   height: 50%; /* altura automática dos cards de produtos da área de ofertas */
    background-color: #f5f5f5; /* cor de fundo dos cards de produtos da área de ofertas */
    border-radius: 10px; /* arredondamento dos cantos dos cards de produtos da área de ofertas */
    padding: 10px; /* espaçamento interno dos cards de produtos da área de ofertas */
    text-align: center; /* alinhamento do texto dos cards de produtos da área de ofertas */
}

.card-produtos img{
    width: 10px; /* largura da imagem dos cards de produtos da área de ofertas */
    height: 10px; /* altura automática da imagem dos cards de produtos da área de ofertas */
    border-radius: 10px; /* arredondamento dos cantos da imagem dos cards de produtos da área de ofertas */
    margin-bottom: 10px; /* espaçamento inferior da imagem dos cards de produtos da área de ofertas */
    position: relative; /* posicionamento relativo para a imagem dos cards de produtos da área de ofertas */

}

.favorito{
    position: absolute; /* posicionamento absoluto para o ícone de favorito dos cards de produtos da área de ofertas */
    border:none; /* remover a borda do ícone de favorito dos cards de produtos da área de ofertas */
    border-radius: 50%; /* arredondamento dos cantos do ícone de favorito dos cards de produtos da área de ofertas */
    background-color: #FFFFFF; /* cor de fundo do ícone de favorito dos cards de produtos da área de ofertas */
    top: auto; /* distância do ícone de favorito dos cards de produtos da área de ofertas em relação à parte superior da imagem dos cards de produtos da área de ofertas */
    right: 10px; /* distância do ícone de favorito dos cards de produtos da área de ofertas em relação à borda direita da imagem dos cards de produtos da área de ofertas */
    padding: 10px; /* espaçamento interno do ícone de favorito dos cards de produtos da área de ofertas */
}

.card-produtos h3{
    font-size: 18px; /* tamanho da fonte do título dos cards de produtos da área de ofertas */
    font-family: poppins, sans-serif; /* fonte do título dos cards de produtos da área de ofertas */
    color:#000000a4; /* cor do texto do título dos cards de produtos da área de ofertas */
    margin:0; /* espaçamento superior do título dos cards de produtos da área de ofertas */
}

/*CONFIGURANDO O PREÇO DO PROTUDO*/

.card-produtos p{
    font-size: 16px; /* tamanho da fonte do preço dos cards de produtos da área de ofertas */
    font-family: poppins, sans-serif; /* fonte do preço dos cards de produtos da área de ofertas */
    color:#000000a4; /* cor do texto do preço dos cards de produtos da área de ofertas */
    
}

/*configurando o botao de adicionar ao carrinho*/

.btn-adicionar{
    background-color: #cdf09d; /* cor de fundo do botão de adicionar ao carrinho dos cards de produtos da área de ofertas */
    border-radius: 10px; /* arredondamento dos cantos do botão de adicionar ao carrinho dos cards de produtos da área de ofertas */
    font-family: poppins, sans-serif; /* fonte do botão de adicionar ao carrinho dos cards de produtos da área de ofertas */
    border: none; /* remover a borda do botão de adicionar ao carrinho dos cards de produtos da área de ofertas */
    margin-left: 80%; /* espaçamento superior do botão de adicionar ao carrinho dos cards de produtos da área de ofertas */
     
}

.btn-adicionar img{
    width: 30px;/*alterando o tamanho do icone de carrinho*/
    padding-top: 5px;/*distanciar a imagem do topo do botão*/
}

.precos{
   display: grid;
   grid-template-columns: 2;
   grid-template-rows:  1;
   align-items: center;

}

.p-antigo{
  grid-column: 1;
  grid-row: 1;
  text-decoration: line-through;
  font-size: 12px;
  color: #000000a4;

}

.p-promocional{
   grid-column: 2;
   grid-row: 1;
   font-weight: bold;
   font-size: 18px;
   color: #000000a4;
   text-align: left;
    
}

/* area de avaliação em estrela*/

.btn-card{
    display: grid;/*modelo*/
    align-items: center;
    gap: 10px;
    
     
}

.btn-card img{
    width: 24px;

}

.btn-card h5{
    font-size: 14px;

}

.btn-adicionar{
    grid-column: 3;
    grid-row:  2;
}

/* configurações de rodapé */

.footer{
  background-color: #ffdd45a4;
 color: #797e309c;
 font-family: poppins,sans-serif;
 padding: 10px;
}

.superior{
   display: flex;/*permitir fleixbilidade entre as colunas*/
   gap: 10px;/*espaçamento entre as divs*/
   justify-content: space-between;/*define um tamanho igual entre as divs*/
   flex-wrap: wrap;/*joga os textos para outra linha caso não possa caber na div*/
}

.inferior{
    display: flex;/*permitir fleixbilidade entre as colunas*/
   gap: 10px;/*espaçamento entre as divs*/
   justify-content: space-between;/*define um tamanho igual entre as divs*/
   flex-wrap: wrap;/*joga os textos para outra linha caso não possa caber na div*/
   align-items: center;
}

.coluna1,.coluna2,.coluna3,.coluna4{
    flex: 1;/*cada coluna ocupa 1 espaço da pagina*/


}

.superior h2{
    font-size: 18px;
    font-weight: bold;
}

.superior p{
    font-size: 12px;
}

.superior a{
    color: #000000a4;
    font-size: 10px;
    text-decoration: none;
}
.superior ul{
    text-decoration: none;/*retira a decoração do texto*/
    list-style: none;/*retira a decoração da lista*/
    padding: 0px;/*retira os espaçamentos*/

}

.superior img{
    width: 24px;
}

.coluna3 a img{
    padding-right: 10px;
}

.coluna3 a{
    display: flex;
    align-items: center;
}

/*configurando o paragrafo do rodapé inferior*/
.inferior p{
    font-size: 10px;
}

.inferior .links{
    display: flex;
    font-size: 10px;
    color: #000000;
    gap: 20px;
}

.links a{
    text-decoration: none;
    color: #000000;
}

.inferior{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-top: #000000;
}
/*configurar para que os elementos da página preencham toda  a tela*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;    
}

/*definir que a página não precisa de barra horizontal*/

body{
    overflow: hidden;
    width: 100%;
}
